<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee"   version="6.0">
  <display-name>PPelis</display-name>
  <welcome-file-list>
    <welcome-file>alta_pelis.jsp</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletAltaPelis</display-name>
    <servlet-name>ServletAltaPelis</servlet-name>
    <servlet-class>servlets.ServletAltaPelis</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAltaPelis</servlet-name>
    <url-pattern>/ServletAltaPelis</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletEntradas</display-name>
    <servlet-name>ServletEntradas</servlet-name>
    <servlet-class>servlets.ServletEntradas</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletEntradas</servlet-name>
    <url-pattern>/ServletEntradas</url-pattern>
  </servlet-mapping>
</web-app>