<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>ServletAutores</servlet-name>
        <servlet-class>servlets.ServletAutores</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletAutores</servlet-name>
        <url-pattern>/ServletAutores</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ServletPrestamos</servlet-name>
        <servlet-class>servlets.ServletPrestamos</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletPrestamos</servlet-name>
        <url-pattern>/ServletPrestamos</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            10
        </session-timeout>
    </session-config>
</web-app>
