<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee"  version="6.0">
  <display-name>PSumar</display-name>
  <welcome-file-list>
   <welcome-file>entrada.jsp</welcome-file>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServletOp</display-name>
    <servlet-name>ServletOp</servlet-name>
    <servlet-class>servlets.ServletOp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletOp</servlet-name>
    <url-pattern>/ServletOp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletPregunta</display-name>
    <servlet-name>ServletPregunta</servlet-name>
    <servlet-class>servlets.ServletPregunta</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletPregunta</servlet-name>
    <url-pattern>/ServletPregunta</url-pattern>
  </servlet-mapping>
</web-app>